body {
	background-color: #222b34;
}

.header-container {
	background-color: #222b34;
	text-align: center;
}

.container {
	background: url("/assests/images/lake_travis.jpg") no-repeat top-center;
}

.current {
	color: #445668;
}
