body {
	background: #222b34 url("/assests/images/lake_travis.jpg") no-repeat top-left;
}

header {
	text-align: center;
	color: #98a89d;
}

article {
	width: 75%;
}

footer {
	font-size: 0.5rem;
}

.current {
	color: #445668;
}
