body {
	background-color: #222b34;
}

.header-container {
	background-color: #222b34;
	text-align: center;
}

.container {
	background-image: url("/assests/images/lake_travis.jpg");
}

.current {
	color: #445668;
}

nav {
	color: #98a89d;
}
